h1 {
    color: rgba(0, 0, 0, 0.486);
    font-size: 60px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.719)
}

h2 {
    color: blanchedalmond;
    font-size: 40px;
    text-indent: 20px;
    padding: 35px;
    text-decoration-line: underline;
}

body {
    background-color: rgba(0, 0, 48, 0.486);
    font-family: Arial, Helvetica, sans-serif
}

p {
    font-size: 20px;
    text-indent: 80px;
    color: white;
}

