h1 {
  color: rgba(0, 0, 0, 0.486);
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
  border: solid;
  padding: 35px;
  background-color: rgba(255, 255, 255, 0.719)
}

h2 {
  color: blanchedalmond;
  font-size: 40px;
  text-indent: 20px;
  padding: 35px;
  text-decoration-line: underline;
}

h3 {
  font-size: 30px;
  color: white;
}

h5 {
  font-size: 20px;
  color: #222;
}

body {
  background-color: #777;
  font-family: Arial, Helvetica, sans-serif
}

#intro {
  font-size: 20px;
  color: #333;
  text-align: Center
}

p {
  font-size: 20px;
  text-indent: 40px;
  color: white;
}

ol {
  font-size: 20px;
  background-color: #888;
  border-style: solid;
  padding: 10px 50px;
}

ul {
  color: white;
  list-style-type: none;
}

.Questions {
  color: black;
  font-size: 20px;
  padding: 5px;
}
